# ------------------------------------------------------------
# Cloud Gemma model
# ------------------------------------------------------------

# Optional.
# If empty, cloud Gemma analysis is skipped.
OPENROUTER_API_KEY=

# Hugging Face access token.
# May be needed when downloading/accessing model repositories.
HF_TOKEN=


# ------------------------------------------------------------
# YOLOX / OpenVINO
# ------------------------------------------------------------

# FP32, FP16 or INT8
MODEL_PRECISION=FP32

# LATENCY or THROUGHPUT
OPENVINO_PERFORMANCE_HINT=THROUGHPUT

# Number of simultaneous OpenVINO inference requests.
NUM_INFER_REQUESTS=4